.root {
  background-color: #ebebeb;
}

.App {
  padding: 10px 0px 50px 0px !important;
}

main {
  max-width: 1250px;
  padding: 0 20px;
  width: 100%;
  display: grid;
  grid-auto-rows: 1fr;
  grid-gap: 1em;
}

.container {
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 30px 60px -12px rgb(50 50 93 / 10%),
    0 18px 36px -18px rgb(0 0 0 / 20%), 0 -12px 36px -8px rgb(0 0 0 / 10%);
  background-color: white;
  display: grid;
  align-items: center;
  justify-items: center;
  margin-bottom: 75px;
}

.btn {
  border: 1px solid #121c2e;
  cursor: pointer;
  line-height: 1.85714286em;
  background: #3a89eb !important;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 4px !important;
  padding: 6px 14px !important;
  border-color: #3a89eb !important;
  transition: 0.1s linear;
}

.good {
  background: #3a89eb !important;
  border-color: #3a89eb !important;
}
.error {
  background: red !important;
  border-color: red !important;
}

.btn:hover {
  transform: translate3d(0, -2px, 0);
}

.info {
  text-align: center;
}
